@import "../../../App.css";


.top-nav__hamburger .bar {
        width: 18px;
        height: 1.5px;
        background-color: var(--black);
        margin: 5px 0px;
        font-weight: 100;
        transition: 0.4s;
}

.top-nav__hamburger .change{

        width: 18px;
        height: 1.5px;
        background-color: var(--black);
        margin: 5px 0px;
        font-weight: 100;
        transition: 0.4s;
}


    .change:first-child {
        transform: rotate(-45deg) translate(-4px, 5px);
    }

    .change:nth-child(2) {
        opacity: 0;
    }

    .change:last-child {
        transform: rotate(45deg) translate(-4px, -5px);
    }
