@import "../../../App.css";

.fallback {
    color:#808080;
    justify-content: center;
    text-align: center;
    font-family: Calibri, sans-serif;
    padding: 75px 25px 75px 25px;
}
.fallback .title {
    font-size: 25px;
}

.fallback .content {
    font-size: 12px;
}

.fallback img {
    width: 200px;
}