@import "../../../App.css";

.openCart {
  display: block;
  width: 115px;
  height: 130px;
  top: 40px;
  right: 42px;
  position: absolute;
  background-color: white;
  text-decoration: none;
}

.openCart div {
  font-weight: 700;
  font-size: 10px;
  font-family: var(--axis);
  letter-spacing: 2px;
  text-align: center;
  margin: 25px 0;
}