@font-face {
  font-family: "Axis";
  src: url(/src/assets/fonts/Axis.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(/src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Pacifico";
  src: url(/src/assets/fonts/Pacifico-Regular.ttf);
}

:root {
  --axis: "Axis";
  --subheading-color: #985e5b;
  --font-size-subheading: 12px;
  --font-weight: 100;
  --font-size-heading: 38px;
  --black: #000;
  --pacifico: "Pacifico";
  --montserrat: "Montserrat";
  --white: #fff;
  --hover: #d3d3d3;
  --subheading-color: #985e5b;
  --bg-color-contact: #edeff2;
}

body,
html {
  padding: 0;
  margin: 0;
}

.heading {
  font-family: var(--axis);
  font-size: var(--font-size-heading);
  font-weight: var(--font-weight);
  text-transform: lowercase;
  letter-spacing: 8px;
}

.subheading {
  font-family: var(--axis);
  font-size: var(--font-size-subheading);
  color: var(--subheading-color);
  text-transform: uppercase;
  font-weight: var(--font-weight);
}